.container
{
    background-color:white;
    color: white;
}

.sidebar-container {
  width: 300px;
  color: white;
}
.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
    background-color: black;
    height: 100vh;
  }
  /* logo */
  .bars{
    display: none;
  }
  .profile
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  .profile>img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }

  .logo {
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
  }
  .logo > span > span {
    color: var(--pink);
  }
  
  .logo > img {
    width: 5rcap;
    height: 5rem;
  }
  #images > img {
    width: 2rem;
    height: 2rem;
    filter: grayscale(100%);
    outline: '2px solid white';
    filter: brightness(1000%);
  }
  
  /* menu */
  .menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .menu>img
  {
    height: 20px;
    width: 20px;
  }
  .menuItem {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    border-radius: 0.7rem;
    font-size: 24px;
    color: white;
    font-weight: 300;
  }
  
  .menuItem:hover {
    cursor: pointer;
  }
  
  .menu .menuItem:last-child {
    /* position: absolute; */
    bottom: 2.3rem;
    width: 100%;
  }
  
  
  /* Tablets */
  @media screen and (max-width: 1200px) {
    .menuItem>span{
      display: none;
    }
    .logo{
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    .sidebar{
      position: fixed;
      z-index: 9;
      background: #ffe0e0;
      width: 55%;
      padding-right: 1rem;
      height: 100%;
    }
    .menuItem>span{
      display: block;
    }
    .logo{
      display: flex;
    }
    .menu .menuItem:last-child {
      position: relative;
      margin-top: 6rem;
    }
    .bars{
      display: flex;
      position: fixed;
      top: 2rem;
      left:60%;
      background:#ffe0e0;
      padding:10px;
      border-radius: 10px;
      z-index: 9;
    }
    .close{
      left: -60%;
    }
  }